CONFIG_ESP32_PHY_MAX_WIFI_TX_POWER=20
CONFIG_ESP_EVENT_POST_FROM_ISR=y
CONFIG_ESP_EVENT_POST_FROM_IRAM_ISR=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_SPIFFS_MAX_PARTITIONS=4
CONFIG_HTTPD_ERR_RESP_NO_DELAY=y
CONFIG_LWIP_DHCP_MAX_NTP_SERVERS=2
